<div style="text-align: center;margin-top:33%;padding: 15px;">
<h1>ChangePassword</h1>
    <input type="text" placeholder="New PassWord">
    <input type="text" placeholder="Confirm password">
    
</div>
<button type="submit" style="margin-bottom:15px;margin-left: 46%;" class="btn btn-primary">SignUp</button>