<style>
    a {
        margin: 400px;
    }
</style>


<div>
    <a href="" class="btn btn-primary">نمایش موجودی</a>
    <a href="" class="btn btn-primary">تغییر رمز</a>
</div>

<div>
    <a href="" class="btn btn-primary">کارت به کارت</a>
    <a href="" class="btn btn-primary">برداشت وجه</a>
</div>
