@model Models.MVUser

<div style="text-align: center; margin: 100px;">
    <h1>Menu</h1>
    <a href="/Home/ShowInventory" class="btn btn-primary">نمایش موجودی</a>
    <a href="/Home/ChangePassword" class="btn btn-primary">تغییر رمز</a>
</div>


<div style="text-align: center;margin: 100px;">
    <a href="/Home/CardToCard" class="btn btn-primary">کارت به کارت</a>
    <a href="/Home/WithDrawal" class="btn btn-primary">برداشت وجه</a>
</div>